body {
  background:#626262;
}

.about {
  background:#82d5ff;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}

.skills {
  background:#f803fc;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}

.projects {
  background:##82d5ff;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}

.contact {
  background:#fc2c03;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}
