.about {
  color:#82d5ff
  background:#ffffff
}

.skills {
  color:#82d5ff
  background:#ffffff
}

.projects {
  color:#82d5ff
  background:#ffffff
}

.contact {
  color:#82d5ff
  background:#ffffff
}
